body {
    background: #030303;
    color: #e1d7d7;
    font-family: sans-serif;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h2 {
    margin: 0;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 90px;
}

.card {
    background: #1a1f25;
    padding: 18px;
    border-radius: 12px;
    margin: 25px 0;
    box-shadow: 0 0 10px #000;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 12px;
    margin-top: 12px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 22s linear infinite;
    font-style: italic;
    color: #ccc;
}
.marquee span {
    padding: 0 30px;
}
@keyframes scroll {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

footer {
    background-color: #73adcf;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}
footer a:link {
    color: rgb(14, 238, 74);
    text-decoration: none; 
}

footer a:visited {
    color: lightgreen; 
    text-decoration: none;
}

footer a:hover {
    color: rgb(193, 16, 16); 
    text-decoration: underline; 
}

footer a:active {
    color: yellow; 
}

@media (max-width: 600px) {
    .header { flex-direction: column; }
}